Flask==2.2.3
Werkzeug==2.2.3
Pillow==10.1.0
torch==2.5.1+cu121
torchvision==0.20.1+cu121
numpy==2.2.4
requests==2.32.3
rembg==2.0.66
onnxruntime==1.22.0
moviepy==1.0.3
opencv-python==4.11.0.86
scipy==1.15.2